.citats {
    background-color: RGB(36, 36, 36);
}
.lower-text {
    font-family: 'Alice', serif;
    font-size: 15px;
}
.citation {
    font-size: 20px;
    text-align: center;
    font-family: 'Neucha', cursive;
}