<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цитаты</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/citats.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
    </style>
</head>
<body>
<div class="hud-line">
    <div class="hud-main main">
        <a href="/main">
            <p class="hud-text">Главная</p>
        </a>
    </div>
    <div class="hud-main team">
        <a href="/team">
            <p class="hud-text">Тима</p>
        </a>
    </div>
    <div class="hud-main stats">
        <a href="/stats">
            <p class="hud-text">Стата</p>
        </a>
    </div>
    <div class="hud-main citats">
        <a href="/citats">
            <p class="hud-text">Цитаты</p>
        </a>
    </div>
    <div class="hud-img">
        <img src="pix/logotype.png" class="hud-img">
    </div>
</div>
<div class="citation">
    <p class="hud-text">"хули они ноют шо я крыса, я шо виноват шо это моя позиция в команде..." </p>
    <p class="lower-text">Ⓒ iL'YAN</p>
</div>
</body>
</html>