<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стата</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/stats.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald&display=swap');
    </style>
</head>
<body>
<div class="hud-line">
    <div class="hud-main main">
        <a href="/main">
            <p class="hud-text">Главная</p>
        </a>
    </div>
    <div class="hud-main team">
        <a href="/team">
            <p class="hud-text">Тима</p>
        </a>
    </div>
    <div class="hud-main stats">
        <a href="/stats">
            <p class="hud-text">Стата</p>
        </a>
    </div>
    <div class="hud-main citats">
        <a href="/citats">
            <p class="hud-text">Цитаты</p>
        </a>
    </div>
    <div class="hud-half">
        <p></p>
    </div>
    <div class="hud-img">
        <img src="pix/logotype.png" class="hud-img">
    </div>
    <div class="hud-half">
        <p></p>
    </div>
    <div class="hud-blank">
        <p></p>
    </div>
    <div class="hud-blank">
        <p></p>
    </div>
    <div class="hud-blank">
        <p></p>
    </div>
    <div class="hud-main login">
        <a th:href="${not logout ? '/login' : '/logout'}">
            <p class="hud-text" th:text="${not logout ? 'Вход' : 'Выход'}">Вход</p>
        </a>
    </div>
</div>
<div class="main-block">
    <div class="inline">
        <span class="tyga">TAIIIGA</span>
         -
        <span class="green">1.3</span>
    </div>
    <div class="inline">
        <span class="ilyan">iL'YAN</span>
         -
        <span class="green">1.1</span>
    </div>
    <div class="inline">
        <span class="meon">MEON</span>
         -
        <span class="red">0.8</span>
    </div>
    <div class="inline">
        <span class="salik">Salik</span>
         -
        <span class="red">0.7</span>
    </div>
    <div class="inline">
        <span class="archi">Archi</span>
         -
        <span class="red">0.6</span>
    </div>
</div>
</body>
</html>