<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тима</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/team.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
</head>
<body>
<div class="hud-line">
    <div class="hud-main main">
        <a href="/main">
            <p class="hud-text">Главная</p>
        </a>
    </div>
    <div class="hud-main team">
        <a href="/team">
            <p class="hud-text">Тима</p>
        </a>
    </div>
    <div class="hud-main stats">
        <a href="/stats">
            <p class="hud-text">Стата</p>
        </a>
    </div>
    <div class="hud-main citats">
        <a href="/citats">
            <p class="hud-text">Цитаты</p>
        </a>
    </div>
    <div class="hud-img">
        <img src="pix/logotype.png" class="hud-img">
    </div>
</div>
<div class="background">
    <div class="wrapped-box">
        <div class="ilyan box">
            <p class="mar">iL'YAN</p>
            <p class="mar">Люркер</p>
        </div>
        <div class="salik box">
            <p class="mar">Salik</p>
            <p class="mar">Рифлер</p>
        </div>
        <div class="tyga box">
            <p class="mar">TYGA</p>
            <p class="mar">Капитан</p>
        </div>
        <div class="archi box">
            <p class="mar">Archi</p>
            <p class="mar">Авапер</p>
        </div>
        <div class="meon box">
            <p class="mar">MEON</p>
            <p class="mar">Рифлер</p>
        </div>
        <div class="box">
        </div>
    </div>
</div>
</body>
</html>